IMPORT LIBRARIES

In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

import warnings
warnings.filterwarnings("ignore")

IMPORT DATASET

In [33]:
df = pd.read_csv(r'D:\Latihan Car Predict\car_price_prediction.csv')
df.head(10)

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
5,45802912,39493,891,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2,160931 km,4.0,Automatic,Front,04-May,Left wheel,White,4
6,45656768,1803,761,TOYOTA,Prius,2010,Hatchback,Yes,Hybrid,1.8,258909 km,4.0,Automatic,Front,04-May,Left wheel,White,12
7,45816158,549,751,HYUNDAI,Sonata,2013,Sedan,Yes,Petrol,2.4,216118 km,4.0,Automatic,Front,04-May,Left wheel,Grey,12
8,45641395,1098,394,TOYOTA,Camry,2014,Sedan,Yes,Hybrid,2.5,398069 km,4.0,Automatic,Front,04-May,Left wheel,Black,12
9,45756839,26657,-,LEXUS,RX 350,2007,Jeep,Yes,Petrol,3.5,128500 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12

PREPROCESS

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB

In [35]:
df.shape

(19237, 18)

In [36]:
df.isna().sum()

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

In [37]:
df.drop(['Levy', 'Doors', 'Wheel'], axis = 1, inplace = True)
df.head(10)

,ID,Price,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Color,Airbags
0,45654403,13328,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,Silver,12
1,44731507,16621,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,Black,8
2,45774419,8467,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,Black,2
3,45769185,3607,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,White,0
4,45809263,11726,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,Silver,4
5,45802912,39493,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2,160931 km,4.0,Automatic,Front,White,4
6,45656768,1803,TOYOTA,Prius,2010,Hatchback,Yes,Hybrid,1.8,258909 km,4.0,Automatic,Front,White,12
7,45816158,549,HYUNDAI,Sonata,2013,Sedan,Yes,Petrol,2.4,216118 km,4.0,Automatic,Front,Grey,12
8,45641395,1098,TOYOTA,Camry,2014,Sedan,Yes,Hybrid,2.5,398069 km,4.0,Automatic,Front,Black,12
9,45756839,26657,LEXUS,RX 350,2007,Jeep,Yes,Petrol,3.5,128500 km,6.0,Automatic,4x4,Silver,12

In [38]:
print(df["Manufacturer"].unique())
print(df["Model"].unique())
print(df["Fuel type"].unique())
print(df["Category"].unique())
print(df["Gear box type"].unique())
print(df["Drive wheels"].unique())

['LEXUS' 'CHEVROLET' 'HONDA' 'FORD' 'HYUNDAI' 'TOYOTA' 'MERCEDES-BENZ'
 'OPEL' 'PORSCHE' 'BMW' 'JEEP' 'VOLKSWAGEN' 'AUDI' 'RENAULT' 'NISSAN'
 'SUBARU' 'DAEWOO' 'KIA' 'MITSUBISHI' 'SSANGYONG' 'MAZDA' 'GMC' 'FIAT'
 'INFINITI' 'ALFA ROMEO' 'SUZUKI' 'ACURA' 'LINCOLN' 'VAZ' 'GAZ' 'CITROEN'
 'LAND ROVER' 'MINI' 'DODGE' 'CHRYSLER' 'JAGUAR' 'ISUZU' 'SKODA'
 'DAIHATSU' 'BUICK' 'TESLA' 'CADILLAC' 'PEUGEOT' 'BENTLEY' 'VOLVO' 'სხვა'
 'HAVAL' 'HUMMER' 'SCION' 'UAZ' 'MERCURY' 'ZAZ' 'ROVER' 'SEAT' 'LANCIA'
 'MOSKVICH' 'MASERATI' 'FERRARI' 'SAAB' 'LAMBORGHINI' 'ROLLS-ROYCE'
 'PONTIAC' 'SATURN' 'ASTON MARTIN' 'GREATWALL']
['RX 450' 'Equinox' 'FIT' ... 'E 230 124' 'RX 450 F SPORT' 'Prius C aqua']
['Hybrid' 'Petrol' 'Diesel' 'CNG' 'Plug-in Hybrid' 'LPG' 'Hydrogen']
['Jeep' 'Hatchback' 'Sedan' 'Microbus' 'Goods wagon' 'Universal' 'Coupe'
 'Minivan' 'Cabriolet' 'Limousine' 'Pickup']
['Automatic' 'Tiptronic' 'Variator' 'Manual']
['4x4' 'Front' 'Rear']

In [39]:
final_df = df[['Price', 'Manufacturer', 'Model', 'Prod. year', 'Category', 'Leather interior', 'Fuel type', 'Mileage', 'Gear box type', 'Drive wheels', 'Color']]
final_df.head(10)

,Price,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Mileage,Gear box type,Drive wheels,Color
0,13328,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,186005 km,Automatic,4x4,Silver
1,16621,CHEVROLET,Equinox,2011,Jeep,No,Petrol,192000 km,Tiptronic,4x4,Black
2,8467,HONDA,FIT,2006,Hatchback,No,Petrol,200000 km,Variator,Front,Black
3,3607,FORD,Escape,2011,Jeep,Yes,Hybrid,168966 km,Automatic,4x4,White
4,11726,HONDA,FIT,2014,Hatchback,Yes,Petrol,91901 km,Automatic,Front,Silver
5,39493,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,160931 km,Automatic,Front,White
6,1803,TOYOTA,Prius,2010,Hatchback,Yes,Hybrid,258909 km,Automatic,Front,White
7,549,HYUNDAI,Sonata,2013,Sedan,Yes,Petrol,216118 km,Automatic,Front,Grey
8,1098,TOYOTA,Camry,2014,Sedan,Yes,Hybrid,398069 km,Automatic,Front,Black
9,26657,LEXUS,RX 350,2007,Jeep,Yes,Petrol,128500 km,Automatic,4x4,Silver

In [40]:
final_df['Current year'] = 2023
final_df.head(10)

,Price,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Mileage,Gear box type,Drive wheels,Color,Current year
0,13328,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,186005 km,Automatic,4x4,Silver,2023
1,16621,CHEVROLET,Equinox,2011,Jeep,No,Petrol,192000 km,Tiptronic,4x4,Black,2023
2,8467,HONDA,FIT,2006,Hatchback,No,Petrol,200000 km,Variator,Front,Black,2023
3,3607,FORD,Escape,2011,Jeep,Yes,Hybrid,168966 km,Automatic,4x4,White,2023
4,11726,HONDA,FIT,2014,Hatchback,Yes,Petrol,91901 km,Automatic,Front,Silver,2023
5,39493,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,160931 km,Automatic,Front,White,2023
6,1803,TOYOTA,Prius,2010,Hatchback,Yes,Hybrid,258909 km,Automatic,Front,White,2023
7,549,HYUNDAI,Sonata,2013,Sedan,Yes,Petrol,216118 km,Automatic,Front,Grey,2023
8,1098,TOYOTA,Camry,2014,Sedan,Yes,Hybrid,398069 km,Automatic,Front,Black,2023
9,26657,LEXUS,RX 350,2007,Jeep,Yes,Petrol,128500 km,Automatic,4x4,Silver,2023

In [41]:
final_df['Mileage'] = final_df['Mileage'].str.replace(" km", "")

In [42]:
final_df['Car age'] = final_df['Current year'] - final_df['Prod. year']
final_df.head(10)

,Price,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Mileage,Gear box type,Drive wheels,Color,Current year,Car age
0,13328,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,186005,Automatic,4x4,Silver,2023,13
1,16621,CHEVROLET,Equinox,2011,Jeep,No,Petrol,192000,Tiptronic,4x4,Black,2023,12
2,8467,HONDA,FIT,2006,Hatchback,No,Petrol,200000,Variator,Front,Black,2023,17
3,3607,FORD,Escape,2011,Jeep,Yes,Hybrid,168966,Automatic,4x4,White,2023,12
4,11726,HONDA,FIT,2014,Hatchback,Yes,Petrol,91901,Automatic,Front,Silver,2023,9
5,39493,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,160931,Automatic,Front,White,2023,7
6,1803,TOYOTA,Prius,2010,Hatchback,Yes,Hybrid,258909,Automatic,Front,White,2023,13
7,549,HYUNDAI,Sonata,2013,Sedan,Yes,Petrol,216118,Automatic,Front,Grey,2023,10
8,1098,TOYOTA,Camry,2014,Sedan,Yes,Hybrid,398069,Automatic,Front,Black,2023,9
9,26657,LEXUS,RX 350,2007,Jeep,Yes,Petrol,128500,Automatic,4x4,Silver,2023,16

In [43]:
final_df.drop(['Current year'], axis = 1, inplace = True)

In [44]:
final_df['Mileage'] = [float(value.split(' ')[0]) for value in df['Mileage']]

In [45]:
final_df.head(10)

,Price,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Mileage,Gear box type,Drive wheels,Color,Car age
0,13328,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,186005.0,Automatic,4x4,Silver,13
1,16621,CHEVROLET,Equinox,2011,Jeep,No,Petrol,192000.0,Tiptronic,4x4,Black,12
2,8467,HONDA,FIT,2006,Hatchback,No,Petrol,200000.0,Variator,Front,Black,17
3,3607,FORD,Escape,2011,Jeep,Yes,Hybrid,168966.0,Automatic,4x4,White,12
4,11726,HONDA,FIT,2014,Hatchback,Yes,Petrol,91901.0,Automatic,Front,Silver,9
5,39493,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,160931.0,Automatic,Front,White,7
6,1803,TOYOTA,Prius,2010,Hatchback,Yes,Hybrid,258909.0,Automatic,Front,White,13
7,549,HYUNDAI,Sonata,2013,Sedan,Yes,Petrol,216118.0,Automatic,Front,Grey,10
8,1098,TOYOTA,Camry,2014,Sedan,Yes,Hybrid,398069.0,Automatic,Front,Black,9
9,26657,LEXUS,RX 350,2007,Jeep,Yes,Petrol,128500.0,Automatic,4x4,Silver,16

In [46]:
final_df['Manufacturer'].value_counts()

HYUNDAI          3769
TOYOTA           3662
MERCEDES-BENZ    2076
FORD             1111
CHEVROLET        1069
                 ...
TESLA               1
PONTIAC             1
SATURN              1
ASTON MARTIN        1
GREATWALL           1
Name: Manufacturer, Length: 65, dtype: int64

In [47]:
final_df.describe()

              Price    Prod. year       Mileage       Car age
count  1.923700e+04  19237.000000  1.923700e+04  19237.000000
mean   1.855593e+04   2010.912824  1.532236e+06     12.087176
std    1.905813e+05      5.668673  4.840387e+07      5.668673
min    1.000000e+00   1939.000000  0.000000e+00      3.000000
25%    5.331000e+03   2009.000000  7.013900e+04      8.000000
50%    1.317200e+04   2012.000000  1.260000e+05     11.000000
75%    2.207500e+04   2015.000000  1.888880e+05     14.000000
max    2.630750e+07   2020.000000  2.147484e+09     84.000000

In [48]:
final_df = final_df[final_df['Price']<7e6].reset_index(drop=True)

In [49]:
final_df

,Price,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Mileage,Gear box type,Drive wheels,Color,Car age
0,13328,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,186005.0,Automatic,4x4,Silver,13
1,16621,CHEVROLET,Equinox,2011,Jeep,No,Petrol,192000.0,Tiptronic,4x4,Black,12
2,8467,HONDA,FIT,2006,Hatchback,No,Petrol,200000.0,Variator,Front,Black,17
3,3607,FORD,Escape,2011,Jeep,Yes,Hybrid,168966.0,Automatic,4x4,White,12
4,11726,HONDA,FIT,2014,Hatchback,Yes,Petrol,91901.0,Automatic,Front,Silver,9
...,...,...,...,...,...,...,...,...,...,...,...,...
19231,8467,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,300000.0,Manual,Rear,Silver,24
19232,15681,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,161600.0,Tiptronic,Front,Red,12
19233,26108,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,116365.0,Automatic,Front,Grey,13
19234,5331,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,51258.0,Automatic,Front,Black,16
19235,470,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,186923.0,Automatic,Front,White,11

In [50]:
# final_df.to_csv('Cleaned df.csv')

MODELS

In [51]:
X = final_df.drop(columns = 'Price')
y = final_df['Price']

In [52]:
X

,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Mileage,Gear box type,Drive wheels,Color,Car age
0,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,186005.0,Automatic,4x4,Silver,13
1,CHEVROLET,Equinox,2011,Jeep,No,Petrol,192000.0,Tiptronic,4x4,Black,12
2,HONDA,FIT,2006,Hatchback,No,Petrol,200000.0,Variator,Front,Black,17
3,FORD,Escape,2011,Jeep,Yes,Hybrid,168966.0,Automatic,4x4,White,12
4,HONDA,FIT,2014,Hatchback,Yes,Petrol,91901.0,Automatic,Front,Silver,9
...,...,...,...,...,...,...,...,...,...,...,...
19231,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,300000.0,Manual,Rear,Silver,24
19232,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,161600.0,Tiptronic,Front,Red,12
19233,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,116365.0,Automatic,Front,Grey,13
19234,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,51258.0,Automatic,Front,Black,16
19235,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,186923.0,Automatic,Front,White,11

In [53]:
y

0        13328
1        16621
2         8467
3         3607
4        11726
         ...
19231     8467
19232    15681
19233    26108
19234     5331
19235      470
Name: Price, Length: 19236, dtype: int64

In [54]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [55]:
ohe=OneHotEncoder()
ohe.fit(X[['Manufacturer', 'Category', 'Fuel type', 'Gear box type']])

OneHotEncoder()

In [56]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['Manufacturer', 'Category', 'Fuel type', 'Gear box type']),
                                    remainder='passthrough')

In [57]:
lr = LinearRegression()

In [58]:
pipe=make_pipeline(column_trans,lr)

In [59]:
pipe.fit(X_train,y_train)

ValueError: For a sparse output, all columns should be a numeric or convertible to a numeric.